@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --header-size: 30%;
}

html,
body,
#root,
#estimate-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#estimate-container {
  display: flex;
  flex-direction: column;
}

.game-button-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#estimate-header {
  display: flex;
  height: 30%;
  background-color: #F0F0F0;
}

#estimate-header-center {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
}

#estimate-header-right {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
  flex-direction: column;
  align-content: center;
}

#estimate-header-left {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
}

#estimate-body {
  height: 100%;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.qr-code-subtext {
  font-size: 24px;
  font-weight: 500;
  color: #828282;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}